default: &default
  host: <%= ENV['MYSQL_HOST'] %>
  adapter: mysql2
  pool: 1
  username: <%= ENV['MYSQL_USER'] %>
  password: <%= ENV['MYSQL_PASSWORD'] %>
  encoding: utf8mb4
  collation: utf8mb4_bin
production:
  <<: *default
  database: patio_production
development:
  <<: *default
  database: patio_development
